{% extends "homeUser.html.twig" %}
{% import 'form.html.twig' as form %}
{% block stylesheet %}

    <link rel="stylesheet" href="public/css/galerie3.css">
    <link rel="stylesheet" href="public/css/tuto.cs">


{% endblock %}



{% block main %}
    <h1>profile des utilisateurs</h1>



   

    <div class="container marketing">


        {#{{ form.rowVerticalSpace() }}#}
        <div class="row">

            {% for userDatum in userdata %}



                <!-- <div class="row"></div>-->



                <div class="col-md-4">
                    <img class="rounded-circle "
                         src="users/img/user/{{ userDatum.username }}/profilPicture/{{ userDatum.filename }}.jpg"
                         width="300" height="300">
                    <h2 class="text-center">{{ userDatum.username }}</h2>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh
                        ultricies
                        vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent
                        commodo
                        cursus magna.</p>
                    <p>
                        <a class="btn btn-secondary" href="index.php?p=homeUserFront&amp;userId={{ userDatum.user_id }}" role="button">View details &raquo;</a>
                        <br/></p>
                </div>

            {% endfor %}
            <div class="col-md 12 text-center">



                     </div>

        </div>



        {% for i in 1..infos.nbPage %}

            {% if i == currentPage %}
                {{ i }}

            {% elseif i == currentPage + 1 %}
                <a href="index.php?p={{ i }}" class="suivant">{{ i }}</a>

            {% else %}
                <a href="index.php?p={{ i }}">{{ i }}</a>
            {% endif %}

        {% endfor %}










    </div>







{% endblock main %}
{% block script %}
    {{ parent() }}
    <script src="public/js/galerie1.js"></script>



{% endblock %}
