{% macro input(name,label, placeholder, options=[]) %}
<div class="row">
    <div class="col-md-3 field-label-responsive">
        <label for="{{ name }}">{{ label }}</label>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-{{options.class}}"></i></div>
                <input type="{{ options.type ?: 'text' }}" name="{{ name }}" class="form-control" id="{{ name }}"
                       placeholder="{{ placeholder }}"  autofocus>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                        </span>
        </div>
    </div>
</div>

{% endmacro %}

{% macro inputSimple(name,label, placeholder, options=[]) %}

    <p><label for="{{ name }}"><i class="fa fa-{{options.class}}"></i> {{ label }}</label>




        <input type="{{ options.type ?: 'text' }}" class="form-control" name="{{ name }}" id="{{ name }}" placeholder="{{ placeholder }}"  autofocus>



    </p>




{% endmacro %}

{% macro upload(uploadId, name,label) %}
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <form action="index.php?p=upload{{ uploadId }}" id="uploadFormHidden{{uploadId}}" name="uploadFormHidden{{uploadId}}" method="post" class="form-horizontal hidden" enctype="multipart/form-data">
                    <fieldset class="form-control">Vos Photos
                        <input type="hidden" class="form-control" value="{{userDatum.username}}" name="username" >


                        <p><label for="{{ name }}"><i class="fa fa-image"></i> {{ label }}</label>




                            <input type="file" class="form-control" name="{{ name }}" id="{{ name }}"  required autofocus>



                        </p>






                    </fieldset>
                    <button type="submit" id="submitButton" class="btn btn-outline-primary btn-sm"  >envoyer</button>
                    <button type="reset" class="btn btn-outline-danger btn-sm" >tout effacer</button>

                </form>







            </div>
        </div>

    </div>
{% endmacro %}
