{% extends "homeUser.html.twig" %}
{% import 'form.html.twig' as form %}
{#{% block stylesheet %}

        {{ parent() }}
    <link rel="stylesheet" href="public/css/album.css">
    <link rel="stylesheet" href="public/css/users.css">

{% endblock %}#}

{% block navMenu %}

    <li class="nav-item"><a class="nav-link" href="index.php?p=galerie1">galerie 1</a></li>
    <li class="nav-item"><a class="nav-link" href="index.php?p=galerie2">galerie 2</a></li>

{% endblock %}

{% block main %}
    <h1>Hello {{ userDatum.first_name }}  </h1>





<main role="main">

  <div class="album py-5 bg-light">
            <div class="container container-fluid">

                <div class="row">

                    {% for  avatar in thumbnails %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">



                            <img id="{{ id }}" class="card-img-top"  src="{{ avatar }}" alt="Card image cap">


                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="index.php?p=viewerGalerie&amp;src=users/img/user/{{ userDatum.username }}/img_00{{ loop.index }}{{ img.id }}.jpg"> <button type="button" data-toggle="modal"  title="ouvrir photo" class="btn btn-xl btn-outline-secondary">View</button></a>


                                    </div>

                                    <small class="text-muted"></small>

                                </div>
                            </div>
                        </div>
                    </div>


                    {% endfor %}









                </div>
            </div>
        </div>



</main>









{% endblock main %}
{% block script %}
    {{ parent() }}
    <script src="public/js/galerie1.js"></script>



{% endblock %}
