{% extends "hello.html.twig" %}
{% import 'form.html.twig' as form %}
{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="public/css/album.css">
    <link rel="stylesheet" href="public/css/users.css">

{% endblock %}

{% block main %}
    <h1>Hello {{ userDatum.first_name }}  </h1>



    <main role="main">




        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <!--<img class="card-img-top" src="users/img/user/{#{{ userDatum.username }}#}/img_001.jpg" alt="Card image cap">-->
                            <img class="card-img-top" src="{{ image1.0.dirname }}/{{ image1.0.filename }}.{{ image1.0.extension }}" alt="Card image cap">

                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" data-toogle='modal' href="#formUpload" title="ouvrir formulaire" class="btn btn-sm btn-outline-secondary" onclick="document.getElementById('uploadFormHidden1').style.display ='block';">upload</button>
                                        <button type="button" title="fermer formulaire" class="btn btn-sm btn-outline-secondary" onclick="document.getElementById('uploadFormHidden1').style.display ='none';">   </button>
                                        <a href="index.php?p=deleteImage1"><button type="button" title="supprimer photo" class="btn btn-sm btn-outline-secondary" >delete</button></a>

                                    </div>

                                    <small class="text-muted">Photo de profil</small>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="{{ image1.2.dirname }}/{{ image1.2.filename }}.{{ image1.2.extension }}" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" title="ouvrir formulaire"  class="btn btn-sm btn-outline-secondary" onclick="document.getElementById('uploadFormHidden2').style.display ='block';">upload</button>
                                        <button type="button" title="fermer formulaire" class="btn btn-sm btn-outline-secondary" onclick="document.getElementById('uploadFormHidden2').style.display ='none';">   </button>
                                        <button type="button" title="supprimer photo" class="btn btn-sm btn-outline-secondary">delete</button>
                                    </div>
                                    <small class="text-muted"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="users/img/user/{{ userDatum.username }}/img_003.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" title="ouvrir formulaire" class="btn btn-sm btn-outline-secondary" onclick="document.getElementById('uploadFormHidden3').style.display ='block';">upload</button>
                                        <button type="button" title="fermer formulaire" class="btn btn-sm btn-outline-secondary" onclick="document.getElementById('uploadFormHidden3').style.display ='none';">   </button>
                                        <button type="button" title="supprimer photo" class="btn btn-sm btn-outline-secondary">delete</button>
                                    </div>
                                    <small class="text-muted"></small>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="users/img/user/{{ userDatum.username }}/img_004.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" title="ouvrir formulaire" class="btn btn-sm btn-outline-secondary" onclick="document.getElementById('uploadFormHidden4').style.display ='block';">upload</button>
                                        <button type="button" title="fermer formulaire" class="btn btn-sm btn-outline-secondary" onclick="document.getElementById('uploadFormHidden4').style.display ='none';">   </button>
                                        <button type="button" title="supprimer photo" class="btn btn-sm btn-outline-secondary">delete</button>
                                    </div>
                                    <small class="text-muted"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="users/img/user/{{ userDatum.username }}/img_005.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" title="ouvrir formulaire" class="btn btn-sm btn-outline-secondary" onclick="document.getElementById('uploadFormHidden5').style.display ='block';">upload</button>
                                        <button type="button" title="fermer formulaire" class="btn btn-sm btn-outline-secondary" onclick="document.getElementById('uploadFormHidden5').style.display ='none';">   </button>
                                        <button type="button" title="supprimer photo" class="btn btn-sm btn-outline-secondary">delete</button>
                                    </div>
                                    <small class="text-muted"></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src="users/img/user/{{ userDatum.username }}/img_006.jpg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" title="ouvrir formulaire" class="btn btn-sm btn-outline-secondary" onclick="document.getElementById('uploadFormHidden6').style.display ='block';">upload</button>
                                        <button type="button" title="fermer formulaire" class="btn btn-sm btn-outline-secondary" onclick="document.getElementById('uploadFormHidden6').style.display ='none';">   </button>
                                        <button type="button" title="supprimer photo" class="btn btn-sm btn-outline-secondary">delete</button>
                                    </div>
                                    <small class="text-muted"></small>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>


        <!--Modal-->


        {{ form.upload('1','pic1', 'photo N°1') }}
        {{ form.upload('2','pic2', 'photo N°2') }}
        {{ form.upload('3','pic3', 'photo N°3') }}
        {{ form.upload('4','pic4', 'photo N°4') }}
        {{ form.upload('5','pic5', 'photo N°5') }}
        {{ form.upload('6','pic6', 'photo N°6') }}



    </main>


{% endblock %}
{% block script %}
    {{ parent() }}
    <script src="public/js/galerie1.js"></script>



{% endblock %}
