{% extends "layout.html.twig" %}
{% import 'form.html.twig' as form %}

{% block stylesheet %}
    <link rel="stylesheet" href="public/css/users.css">
    <link rel="stylesheet" href="public/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/css/homeUser.css">
    <link rel="stylesheet" href="public/css/tuto.cs">
{% endblock stylesheet %}

{% block title %} La page de {{ userDatum.username }}{% endblock title %}
{% block avatar %}
        <li class="nav-item"><img class="rounded-circle" src="{{ imageProfil }}" alt="" width="37" height="37"></li>

    {% endblock avatar%}{% block bookmark %}<i class="fas fa-caret-down" style="color:#17a2b8" ></i>{% endblock bookmark %}
{% block brand %}<span class="text-white">Whole Wild World</span>{% endblock brand %}


{% block signUp %}La page de {{ userDatum.username }} {% endblock signUp %}

{% block signUpLink %}index.php?p=homeUser {% endblock %}

{% block navMenu %}
    <li class="nav-item "><a class="nav-link text-white" href="index.php?p=galerie1">configuration de la galerie </a></li>
    <li class="nav-item "><a class="nav-link text-white" href="index.php?p=galerie3">visualisation de la galerie</a></li>
    <li class="nav-item "><a class="nav-link text-white" href="index.php?p=infosUser">gestion du profil </a></li>


{% endblock navMenu %}

{% block connexion %}déconnexion{% endblock %}
{% block connexionLink %}index.php?p=deconnexion{% endblock %}
{% block profilCount %}
    <a  href="listProfils.php?p=listProfile"><button type="button"  class="btn btn-info">
        Profils des autres utilisateurs <span class="badge badge-light">9</span>
        <span class="sr-only">unread messages</span>
    </button></a>
{% endblock %}
{% block main %}

    <div class="row">
        <div class="col-lg-3 "><h1>Hello  {{ userDatum.first_name }}  </h1></div>
        <div class="col-lg-6 ">





           </div>

    </div>



    <div class="row">
        <div class="col-lg-2 text-right">

            <img class="rounded-circle" id="cropImage" src="{{ imageProfil }}" alt="Generic placeholder image"
                 width="150" height="150">

            <ul class="list-unstyled">


                <li>voir votre profil</li>
            </ul>

        </div>
        <div class="col-lg-8 text-justify">


            <h2>Bienvenue sur votre page</h2>

            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus atque blanditiis culpa cumque dolor et eveniet harum id iusto labore modi necessitatibus nemo nesciunt omnis quibusdam, quos sit suscipit, totam?




        </div>
        <div class="col-lg-2">fdsfdsf</div>

    </div>

{% endblock %}


{% block script %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="public/assets/js/vendor/popper.min.js"></script>
    <script src="public/dist/js/bootstrap.min.js"></script>
    <script src="public/assets/js/vendor/holder.min.js"></script>
    <script src="public/js/upload.js"></script>
    <script src="public/js/uploadStatement.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

{% endblock script %}