{% extends "homeUser.html.twig" %}
{% import 'form.html.twig' as form %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="public/css/infosUSer.css">
    <link rel="stylesheet" href="carousel.css" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="public/css/cities.css">
    <link rel="stylesheet" href="public/css/tuto.cs">
{% endblock stylesheet %}



{% block main %}





    <section><!--début ok1-->
        <div class="container">
            <form class="form-horizontal" role="form" method="POST" action="index.php?p=saveUserinfos&amp;userid={{ userDatum.id }}">




                <h2>{{ form.col363('vos informations') }}</h2>

                   <div class="row">

                        <div class="half">
                            <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Vous habitez...</span>
                            </div>
                            <input type="text" id="code" name="postal_code" value="{{ infos.0.postal_code }} " class="form-control" placeholder="Code postal" aria-label="Code postal" aria-describedby="basic-addon1">

                        </div>


                   </div>
                        <div class="half">
                            <input id="city" placeholder="Ville" name="city" value="{{ infos.0.city }} "   autocomplete="off">
                        </div>
                       <section id="output"></section>

        </div>



                            <div class="col-md-12 text-center">

                  vous cherchez :

                  {{ form.radioInline('search1','search','Une femme','une femme',info.0.search ) }}
                  {{ form.radioInline( 'search2','search','Un homme','un homme',info.0.search) }}


                            </div>


                <div class="col-md-12 text-center">

                    vous cherchez :
                    {{ form.radioInline( 'purpose1','purpose','Rencontre amoureuse','Rencontre amoureuse' ) }}
                    {{ form.radioInline( 'purpose2','purpose','Amitié','amitié' ) }}
                    {{ form.radioInline( 'purpose3','purpose','Sortie','sortie' ) }}
                    {{ form.radioInline( 'purpose4','purpose','Autre','realtion à préciser' ) }}

                </div>





                {{ form.rowVerticalSpace() }}

                {#<div class="row">

                    <div class="half">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">qui habite...</span>
                            </div>
                            <input type="text" id="code2" class="form-control" placeholder="Code postal" aria-label="Code postal" aria-describedby="basic-addon1">
                        </div>


                    </div>
                    <div class="half">
                        <input id="city2" placeholder="Ville" autocomplete="off">
                    </div>
                    <section id="output2"></section>

                </div>#}







                <fieldset class="form-control">


                        <h3>{{ form.col12( 'Votre situation familiale') }}</h3>
                            {{ form.col12( 'Prenez quelques instants pour vous prensentez') }}
                            {{ form.rowVerticalSpace() }}

                    {{ form.col12radioInline5(
                        'vous êtes :',
                        'familiy_situation1','family_situation','libre comme l\'air','libre comme l\'air',
                        'familiy_situation2','family_situation','la corde au cou','la corde au cou',
                        'familiy_situation3','family_situation','en couple mais heureux(se)','en couple mais heureux(se)',
                        'familiy_situation4','family_situation','divorcé(e)','divorcé(e)',
                        'familiy_situation5','family_situation','séparé(e)','séparé(e)'

                    )}}

                    {{ form.col12radioInline5(

                        'Avez-vous des enfants : ',
                        'children1','children','Non','pas d\'enfant',
                        'children2','children','Oui,1','un enfant',
                        'children3','children','Oui,2','deux enfants',
                        'children4','children','Oui,3','trois enfants',
                        'children5','children','oui, plus de trois','plus de trois enfants'
                    ) }}



                    <div class="row">
                        <div class="col-md-2"></div>

                        <textarea class="col-md-8 form-control" name="family_situation_add" id="family_situation_add" cols="50" rows="10" placeholder="Vous m'intriguez, pourriez-vous m'en dire plus ?">{{ infos.0.family_situation_add }}</textarea>

                        <div class="col-md-2}"></div>
                    </div>






                </fieldset>

                {{form.rowVerticalSpace()}}<!--fin ok1-->

                <fieldset class="form-control"><!--début ok2-->
                    <fieldset class="form-control"><!--début ok3-->


                     <h3>{{ form.col363('Et de vous, que diriez-vous ?') }}</h3>
                         {{ form.col12(' ') }}



                        <div class="row">
                            <div class="col-md-2"></div>

                            <textarea class="col-md-8 form-control" name="physic_add" id="physic_add" cols="50" rows="10" placeholder="Comment êtes-vous ? Décrivrez-vous...">{{ session.physic_add }}{{ infos.0.physic_add }}</textarea>

                            <div class="col-md-2}"></div>
                        </div>


                    </fieldset>
                {{ form.rowVerticalSpace() }}<!--fin ok2-->
                    <fieldset class="form-control">

                         <h3>{{ form.col12('Au final...') }}</h3>




                        <div class="row">
                            <div class="col-md-2"></div>

                            <textarea class="col-md-8 form-control" name="speech" id="speech" cols="50" rows="10" placeholder="Que cherchez-vous ? Et à quoi vous intéressez-vous ?">{{ session.speech }}{{ infos.0.speech }}</textarea>

                            <div class="col-md-2}"></div>
                        </div>



                     </fieldset>
                     </fieldset>
                     <div class="row"> <div class="col-md-12">&nbsp;</div> </div><!--fin ok3-->
                      <fieldset class="form-control" id="Education">
                             <fieldset class="form-control" id="EducationLevel">
                                 <h2>{{ form.col12('Votre Parcours, votre vie') }}</h2>


                                 <h4>{{ form.col363('Quel est votre niveau d\'étude ?') }}</h4>

                                   {{ form.col12radioInline9(
                                         '',
                                        'school_level1','school_level','sans diplôme',"sans diplôme",
                                        'school_level2','school_level','BEP/CAP',"BEP/CAP",
                                        'school_level3','school_level','bac',"bac",
                                        'school_level4','school_level','bac+1',"bac+1",
                                        'school_level5','school_level','bac+2',"bac+2",
                                        'school_level6','school_level','bac+3',"bac+3",
                                        'school_level7','school_level','bac+4',"bac+4",
                                        'school_level8','school_level','bac+5 et plus',"bac+5 et plus",
                                        'school_level9','school_level',"ne souhaite pas en parler","ne souhaite pas en parler"

                                    )}}

                        {{ form.rowVerticalSpace() }}




                                 <div class="row">
                                     <div class="col-md-2"></div>

                                     <textarea class="col-md-8 form-control" name="school_level_add" id="school_level_add" cols="50" rows="10" placeholder="Si vous avez des précision à apporter, c'est ici">{{ session.school_level_add }}{{ infos.0.school_level_add }}</textarea>

                                     <div class="col-md-2}"></div>
                                 </div>




                        </fieldset>
                         {{ form.rowVerticalSpace() }}
                           <fieldset class="form-control" id="EducationJob">



                               <h3>{{ form.col12('Quelle est votre profession ?') }}</h3>
                               {{ form.col12radioInline5(

                                   '',
                                   'work1','work','Fonctionnaire','fonctionnaire',
                                   'work2','work','salarié','salarié',
                                   'work3','work','Profession libérale','libérale',
                                   'work4','work','Sans Emploi','Sans Emploi',
                                   'work5','work','Autre','Autre'
                               ) }}
                               {{ form.rowVerticalSpace() }}



                               <div class="row">
                                   <div class="col-md-2"></div>

                                   <textarea class="col-md-8 form-control" name="work_add" id="work_add" cols="50" rows="10" placeholder="Si vous avez des précision à apporter, c'est ici">{{ session.work_add }}{{ infos.0.work_add }}</textarea>

                                   <div class="col-md-2}"></div>
                               </div>


                       </fieldset>
                       </fieldset>


                       <div class="row">
                           <div class="col-md-3"></div>
                           <div class="col-md-6 text-center">
                               {{ form.rowVerticalSpace() }}
                               <button type="submit" id="register" class="btn btn-success"><i class="far fa-file-alt"></i> Valider</button>&nbsp;
                               <a href="index.php?p=deleteUserInfos&amp;userid={{ userDatum.id }}"><button type="button" id="eraseInfos"  class="btn btn-warning"><i class="fas fa-eraser"></i> Effacer les infos personnelles</button></a>

                           </div>
                           <div class="col-md-3"></div>

                       </div>
                {{ form.rowVerticalSpace() }}
            </form>
        </div>
    </section>




    {% block footer %}
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">


                    <button type="button" id="eraseProfile" data-target="#eraseProfileModal" data-toggle="modal" class="btn btn-danger"><i class="far fa-trash-alt"></i> Effacer le profile</button>




                </div>

                <!-- Modal -->
                <div class="modal fade" id="eraseProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header alert alert-danger">
                                <h5 class="modal-title align-items-center " id="exampleModalLabel">Danger  : RED button !</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Vous êtes sur le point d'éradiquer votre profil ! Peut-être est-ce par erreur. dans ce cas, vite appuyer le bouton vert !</p>
                                <p>Sinon nous espérons vous avoir aidé dans votre recherche.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-dismiss="modal">Fermer</button>
                                <button type="button"  data-toggle="modal" data-target="#destroyedProfileModal" class="btn btn-danger"><i class="fas fa-fighter-jet"></i> Détruire le profil</button>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="modal fade" id="destroyedProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header alert alert-danger">
                                <h5 class="modal-title align-items-center " id="exampleModalLabel">Profil en cour de destruction ! !</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <p>Votre profil sera détruit dès que vous aurez cliqué sur confirmation de destruction !</p>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-dismiss="modal">Fermer</button>
                                <a href="index.php?p=eraseProfil"><button type="button" class="btn btn-danger"><i class="fas fa-fire"></i> confirmation de destruction</button></a>
                            </div>
                        </div>
                    </div>
                </div>









            </div>
        </footer>
    {% endblock footer %}


{% endblock main %}








{% block script %}
    {{ parent() }}
    <script src="public/js/galerie2.js"></script>
    <script src="public/js/jQuery.js"></script>
    <script src="public/js/cities_api.js"></script>

    <script src="public/js/cities.js"></script>



{% endblock %}

