{% extends "homeUser.html.twig" %}
{% import 'form.html.twig' as form %}

{% block stylesheet %}
    {{ parent() }}

    <link rel="stylesheet" href="carousel.css" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" href="public/css/tuto.cs">
{% endblock stylesheet %}



{% block main %}

    <section><!--début ok1-->
        <div class="container">
            <form class="form-horizontal" role="form" method="POST" action="index.php?p=saveUserinfos&amp;userid={{ infos.id }}">
                {{ form.rowVerticalSpace() }}
                <h2>{{ form.col363('vos informations') }}</h2>





                    {{ form.col12radioInline3(
                        'Vous recherchez :',
                        'search1','search','Une femme','female',
                        'search2','search','Un homme','male',
                        'search3','search','Autre','otherGender'
                     )}}

                    {{ form.col12radioInline4(
                        'Pour :',
                        'purpose1','purpose','Rencontre amoureuse','love',
                        'purpose2','purpose','Amitié','friendship',
                        'purpose3','purpose','Sortie','walk',
                        'purpose4','purpose','Autre','otherPurpose'
                     )}}



                <fieldset class="form-control">


                        <h3>{{ form.col12( 'Votre situation familiale') }}</h3>
                            {{ form.col12( 'Prenez quelques instants pour vous prensentez') }}
                            {{ form.rowVerticalSpace() }}

                    {{ form.col12radioInline5(
                        'vous êtes :',
                        'familiy_situation1','family_situation','libre comme l\'air','freeAsBird',
                        'familiy_situation2','family_situation','la corde au cou','unhappyCouple',
                        'familiy_situation3','family_situation','en couple mais heureux(se)','happyCouple',
                        'familiy_situation4','family_situation','divorcé(e)','divorced',
                        'familiy_situation5','family_situation','séparé(e)','separated'

                    )}}

                    {{ form.col12radioInline5(

                        'Avez-vous des enfants : ',
                        'children1','children','Non','0',
                        'children2','children','Oui,1','1',
                        'children3','children','Oui,2','2',
                        'children4','children','Oui,3','3',
                        'children5','children','oui, plus de trois','4'
                    ) }}

                     {{ form.rowVerticalSpace() }}
                    {{ form.colcentertextarea(2,8,'family_situation_add','Vous m\'intriguez, pourriez-vous m\'en dire plus ?',50,10) }}

                </fieldset>

                {{form.rowVerticalSpace()}}<!--fin ok1-->

                <fieldset class="form-control"><!--début ok2-->
                    <fieldset class="form-control"><!--début ok3-->


                     <h3>{{ form.col363('Et physiquement ?') }}</h3>
                         {{ form.col12('Comment vous décririez vous ?') }}
                         {{ form.colcentertextarea(2,8,'physic_add','Comment êtes-vous ?Quel est votre ressenti ?...',50,10) }}





                    </fieldset>
                {{ form.rowVerticalSpace() }}<!--fin ok2-->
                    <fieldset class="form-control">

                         <h3>{{ form.col12('Au final...') }}</h3>


                         {{ form.colcentertextarea(2,8,'finaly','...Qu\'attendez-vous d\'un tel site ?',50,10) }}

                     </fieldset>
                     </fieldset>
                     <div class="row"> <div class="col-md-12">&nbsp;</div> </div><!--fin ok3-->
                      <fieldset class="form-control" id="Education">
                             <fieldset class="form-control" id="EducationLevel">
                                 <h2>{{ form.col12('Education') }}</h2>


                                 <h4>{{ form.col363('Quel est votre niveau d\'étude ?') }}</h4>

                                   {{ form.col12radioInline8(
                                         '',
                                        'school_level1','school_level','sans diplôme',"-2",
                                        'school_level2','school_level','BEP/CAP',"-1",
                                        'school_level3','school_level','bac',"0",
                                        'school_level4','school_level','bac+1',"1",
                                        'school_level5','school_level','bac+2',"2",
                                        'school_level6','school_level','bac+3',"3",
                                        'school_level7','school_level','bac+4',"4",
                                        'school_level8','school_level','bac+5 et plus',"5"

                                    )}}

                        {{ form.rowVerticalSpace() }}

                       {{ form.colcentertextarea(2,8,'school_level_add','Si vous avez des précision à apporter, c\'est ici',50,10) }}

                        </fieldset>
                         {{ form.rowVerticalSpace() }}
                           <fieldset class="form-control" id="EducationJob">



                               <h3>{{ form.col12('Quelle est votre profession ?') }}</h3>
                               {{ form.col12radioInline5(

                                   'Avez-vous des enfants : ',
                                   'work1','work','Fonctionnaire','fonctionnaire',
                                   'work2','work','salarié','salarié',
                                   'work3','work','Profession libérale','libéral',
                                   'work4','work','Sans Emploi','unemployed',
                                   'work5','work','Autre','Other'
                               ) }}
                               {{ form.rowVerticalSpace() }}
                               {{ form.colcentertextarea(2,8,'work_add','Si vous avez des précision à apporter, c\'est ici',50,10) }}


                       </fieldset>
                       </fieldset>











                       <div class="row">
                           <div class="col-md-3"></div>
                           <div class="col-md-6 text-center">
                               {{ form.rowVerticalSpace() }}
                               <button type="submit" id="register" class="btn btn-success"><i class="fa fa-user-plus"></i> Valider</button>
                           </div>
                           <div class="col-md-3"></div>

                       </div>
                {{ form.rowVerticalSpace() }}
            </form>
        </div>
    </section>








{% endblock main %}

{% block script %}
    {{ parent() }}
    <script src="public/js/galerie2.js"></script>

{% endblock %}

