{% extends "homeUser.html.twig" %}
{% import 'form.html.twig' as form %}

{% block stylesheet %}
   {{ parent() }}

    <link rel="stylesheet" href="public/css/mails.css">

{% endblock stylesheet %}
{% block TEST %}



{% endblock TEST %}


{% block main %}

    {{ form.rowVerticalSpace() }}
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <h1>Messagerie Privée</h1>
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-info active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Boîte de réception</a>
                    <a class="list-group-item list-group-item-secondary" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Messages envoyés</a>
                    <a class="list-group-item list-group-item-success" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages archivés</a>
                    <a class="list-group-item list-group-item-danger" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Messages lus</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">

                        <table class="table table-hover">
                           {# <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">user</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                            </thead>#}
                            <tbody>


                                {% for message in messages %}
                                    <tr>
                                        <td scope="row"><img src="{{ message.dirname }}/{{ message.filename }}.{{ message.extension }}" class="mailAvatar" width="50" height="50"></td>
                                        <td>{{ message.username }}</td>
                                        <td ><a title="lire le message de {{ message.username }}" href="index.php?p=readMessage&amp;messageId={{ message.mp_id }}&amp;messageTitle={{ message.title }}&amp;messageContent={{ message.message }}&amp;dir={{ message.dirname }}&amp;filename={{ message.filename }}&amp;ext={{ message.extension }}&amp;username={{ message.username }}"  >{{ message.title }}</a></td>
                                        <td>{{ message.message |truncate}}</td>
                                        <td>{{ message.time_date_fr }}</td>
                                        <td><div style="color: #1c7430" title="archiver le message"><i class="fas fa-archive"></i></div></td>
                                        <td>
                                            <div style="color: red"><i class="fas fa-times" title="effacer le message"></i></div></td>



                                     </tr>



                                {% endfor %}




                            </tbody>
                        </table>




                        </div>
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list"></div>
                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">

                        <table class="table table-hover">
                            {# <thead>
                             <tr>
                                 <th scope="col"></th>
                                 <th scope="col">user</th>
                                 <th scope="col">Last</th>
                                 <th scope="col">Handle</th>
                             </tr>
                             </thead>#}
                            <tbody>


                            {% for Messageread in Messagesread %}
                                <tr>
                                    <td scope="row"><img src="{{ Messageread.dirname }}/{{ Messageread.filename }}.{{ Messageread.extension }}" class="mailAvatar" width="50" height="50"></td>
                                    <td>{{ Messageread.username }}</td>
                                    <td ><a title="lire le message de {{ Messageread.username }}" href="index.php?p=readMessage&amp;messageId={{ Messageread.mp_id }}&amp;messageTitle={{ Messageread.title }}&amp;messageContent={{ Messageread.message }}&amp;dir={{ Messageread.dirname }}&amp;filename={{ Messageread.filename }}&amp;ext={{ Messageread.extension }}&amp;username={{ Messageread.username }}"  >{{ Messageread.title }}</a></td>
                                    <td>{{ Messageread.message |truncate}}</td>
                                    <td>{{ Messageread.time_date_fr }}</td>
                                    <td><div style="color: #1c7430" title="archiver le message"><i class="fas fa-archive"></i></div></td>
                                    <td>
                                        <div style="color: red"><i class="fas fa-times" title="effacer le message"></i></div></td>



                                </tr>



                            {% endfor %}




                            </tbody>
                        </table>









                    </div>
                </div>
            </div>
        </div>







</div>







{% endblock main %}

