{% extends "messages.html.twig" %}




{% block TEST %}





{% endblock TEST %}





{% block main %}


    <!-- Modal mailViewer -->
    <div class="modal fade" id="mailViewer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">  <img src="{{ mailContents.dirname }}/{{ mailContents.filename }}.{{ mailContents.extension }}" width="50" height="50" class="mailAvatar"> Message de {{ mailContents.username }}</h4>      </h5>
                    <button type="button" class="close" id="crossDismissModal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ mailContents.message }}
                </div>
                <div class="modal-footer">
                    <button type="button" data-target="#AnswerMailModal" data-toggle="modal" data-whatever="{{ mailContents.username }}" class="btn btn-success">repondre</button>
                    <button type="button" id="dismissModal" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

 <!--fin modal mailViewer-->

    <div class="modal fade"  id="AnswerMailModal" tabindex="-1" role="dialog" aria-labelledby="mailModalLabel" aria-hidden="true">
        <span class="txt">{{ flash }}</span>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title txt text-center" id="mailModalLabel">new message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" method="POST" role="form" action="index.php?p=sendMessage&amp;expeditor={{ userDatum.id }}&amp;receiver={{ mailContents.id }}"  >


                        <div class="form-group">
                            <label for="title-name" class="col-form-label txt">Titre du message:</label>
                            <input type="text" name="title" i placeholder="titre du message" class="form-control txt" id="title" >
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label txt">Message:</label>
                            <textarea class="form-control txt" name="message" id="message-text"></textarea>
                        </div>

                        <div class="modal-footer">

                            <button type="submit" class="btn btn-success txt">envoyer un message à {{ mailContents.username }}</button>
                        </div>

                    </form>
                </div>




            </div>
        </div>
    </div>

    <!--fin AnswerMailModal-->









{% endblock main %}

{% block script %}
    {{ parent() }}

    <script>  $('#mailViewer').modal('show');</script>

    <script> document.getElementById('dismissModal').addEventListener('click',function () {
            window.location.href="index.php?p=messages"
        });</script>
    <script> document.getElementById('crossDismissModal').addEventListener('click',function () {
            window.location.href="index.php?p=messages"
        });</script>

    <script>
        $('#AnswerMailModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var recipient = button.data('whatever') // Extract info from data-* attributes
            // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
            // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
            var modal = $(this)
            modal.find('.modal-title').text('Nouveau message pour ' + recipient)
            modal.find('.modal-body ').val(recipient)
        })
    </script>





{% endblock script %}
